doctype html
html(lang="zh-cms-Hans")

  block vars

  head
    meta(charset='utf-8')
    meta(lang='zh')
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="renderer",content="webkit")
    if page.author
      meta(name="author",content="#{page.author}")
    meta(name="browsermode",content="application")
    if page.desc
      meta(name="description", content="#{page.desc}")
    meta(name="full-screen",content="yes")
    if page.keywords
      meta(name="keywords",content="#{page.keywords}")
    meta(name="robots",content="index,follow")
    link(rel="stylesheet",href="#{page.name}/index.css")
    title #{page.title}
    base(target="_blank")
  body

    block nav

    block main

    block footer
      <!-- [if lt IE 9]>
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-shim.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-sham.min.js")
      <![endif]-->
      script(src="commons.js")
      script(src="#{page.name}/index.js")
