<%
if(page.title    === undefined)page.title = '页面标题';
if(page.desc     === undefined)page.desc = '页面描述';
if(page.author   === undefined)page.author = '页面作者';
if(page.keywords === undefined)page.keywords = '页面关键字';

var commoncss = typeof build !== 'undefined' && build.common && build.common.css || 'common.css';
var commonjs  = typeof build !== 'undefined' && build.common && build.common.js  || 'common.js';
var pagecss   = typeof build !== 'undefined' && build[page.name] && build[page.name].css  || page.name+'.css';
var pagejs    = typeof build !== 'undefined' && build[page.name] && build[page.name].js  || page.name+'.js';

if(page.name === undefined) {
  pagecss = pagejs = 'empty';
}

page.commonjs = commonjs;
page.pagejs = pagejs;
%>
<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title><%=page.title%></title>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <%if(page.desc){%>
    <meta name="description" content="<%=page.desc%>">
    <%}%>
    <%if(page.keywords){%>
    <meta name="keywords" content="<%=page.keywords%>">
    <%}%>
    <%if(page.author){%>
    <meta name="author" content="<%=page.author%>">
    <%}%>
    <% if(!debug && commoncss != 'empty'){%>
    <link rel="stylesheet" href="app/<%=commoncss%>">
    <%}%>
    <% if(pagecss != 'empty'){%>
    <link rel="stylesheet" href="app/<%=pagecss%>">
    <%}%>
    <script>
      (function () {
        var dpr, rem, scale;
        var docEl = document.documentElement;
        var fontEl = document.createElement('style');
        var metaEl = document.querySelector('meta[name="viewport"]');
        var win = window;

        dpr = win.devicePixelRatio || 1;
        rem = docEl.clientWidth * dpr / 10;
        scale = 1 / dpr;

        // 设置viewport，进行缩放，达到高清效果
        metaEl.setAttribute('content', 'width=' + dpr * docEl.clientWidth + ',initial-scale=' + scale + ',maximum-scale=' + scale + ', minimum-scale=' + scale + ',user-scalable=no');

        // 设置data-dpr属性，留作的css hack之用
        docEl.setAttribute('data-dpr', dpr);

        // 动态写入样式
        docEl.firstElementChild.appendChild(fontEl);

        // 给js调用的，某一dpr下rem和px之间的转换函数
        win.rem2px = function(v) {
            v = parseFloat(v);
            return v * rem;
        };
        win.px2rem = function(v) {
            v = parseFloat(v);
            return v / rem;
        };

        var resetRem = function () {
          win.setTimeout(function () {
            rem = docEl.clientWidth / 10;
            fontEl.innerHTML = 'html{font-size:' + rem + 'px!important;}';
          }, 300)
        }

        win.onresize = resetRem

        win.dpr = dpr;
        win.rem = rem;

        resetRem()
      }())
    </script>
  </head>
  <body>


